body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: mediumvioletred;
    color: #444;
    align-items: center;
}

h1 {
   color: rgb(179,131,226);
   opacity: 0.4;
   text-align: center;
   font-size: 10rem;
}

form {
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 400px;
    max-width: 100%;
}

.input {
    border: 0;
    color: #444;
    font-size: 2rem;
    padding: 1rem 2rem;
    display: block;
    width: 100%;
}

.input:focus {
   outline:plum ;
}

.input::placeholder{
    color: midnightblue;
}

.todos {
    background-color: #fff;
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.todos li {
    border-top: 1px solid #e5e5e5;
    font-size: 1.5rem;
    padding: 1rem 2rem;
}

.todos li.completed {
    text-decoration: line-through;
}

small {
    color: #444;
    margin-top: 3rem;
    text-align: center;
}